main{max-width: 992px;}
.jumbotron{
  background: linear-gradient(180deg, rgba(1, 1, 3, .075) 10%, transparent 80% 100%);
  gap: .5rem;
  padding: 2.5em .75em;
}
#judulArtikel{
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.125em;
}
#kategoriArtikel{
  font-size: .95rem;
  color: teal;
}
#penulis, #kontakPenulis, #dateTerbitArtikel{color: rgba(1, 1, 3, .65);}
#penulis, #kontakPenulis{font-size: .975em;}
.caption{
  font-size: .975em;
  color: rgba(1, 1, 3, .65);
}
.isiArtikel{
  font-family: 'Newsreader', serif;
  font-size: 1.15rem;
  line-height: 1.25em;
}
.isiArtikel *{margin: .5em 0;}
.button-wrapper{
  display: flex;
  justify-content: center;
  gap: .75rem;
}
.button-wrapper *{
  background: teal;
  color: #fff;
  padding: .25em .5em;
  border-radius: 1.5px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
[contenteditable]:empty::before{opacity: .75;}
[contenteditable]{
  background: rgba(1, 1, 3, .075);
  width: fit-content;
  max-width: 100%;
  position: relative;
}
[placeholder]:empty::before{content: attr(placeholder);}
[for=bannerArtikel]{cursor: pointer;}
.banner{
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  min-height: 320px;
}
.banner span:nth-child(1){font-size: 3rem;}
.banner span{
  color: #fff;
  text-shadow: 0 0 2px #010101;
}
.hidden{display: none;}
#clearBanner{
  position: absolute;
  font-size: 1.618rem;
  cursor: pointer;
  top: .5rem;
  right: .5rem;
  color: #fff;
  text-shadow: 0 0 2px #010101;
}
.featured{
  background: rgba(1, 1, 3, .15);
  width: 5.85rem;
  height: 1.25rem;
  outline: 1px solid rgba(1, 1, 3, .25);
  position: absolute;
  right: .75rem;
  top: .75rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: all .15s;
}
.featured:has(input:checked){
  background: teal;
  outline: 1px solid teal;
  color: #fff;
}
.featured *{
  position: absolute;
  transition: all .15s;
}
.featured span:nth-child(3){left: 1.5rem;}
.featured:has(input:checked) span:nth-child(3){left: .25rem;}
.featured .slide{
  background: #fff;
  content: '';
  left: 0;
  right: 4.5rem;
  height: 100%;
  border-radius: 15px;
}
.featured:has(input:checked) .slide{
  left: 4.5rem;
  right: 0;
}
#penulis.required:empty::after,
#isiArtikel.required:empty::after{
  top: -1rem;
  left: 0;
  width: 200%;
}
.required:empty::after{
  position: absolute;
  content: '*harap diisi';
  font-size: .975rem;
  width: 100%;
  color: #EE2E31;
}
.required:empty::before{text-shadow: 0 0 5px rgba(1, 1, 3, .25);}
dialog:modal{
  background: teal;
  color: #fff;
  padding: .5em;
  border-radius: 1.5px;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
}
dialog::backdrop{
  background: rgba(1, 1, 3, .15);
  backdrop-filter: blur(1.5px);
}
dialog:modal button{
  font-family: inherit;
  font-size: .975rem;
  font-weight: 500;
  padding: .15em;
  background: transparent;
  color: #fff;
  border-radius: 2.5px;
  outline: 1.75px solid #fff;
  cursor: pointer;
  transition: all .05s;
}
dialog:modal button:hover{
  color: #010101;
  background: #fff;
  outline: none;
}
dialog #cls-modal{
  background: #fff;
  color: #EE2E31;
  outline: none;
}
dialog #cls-modal:hover{
  background: #EE2E31;
  color: #fff;
}
