.jumbotron{
  background: linear-gradient(180deg, rgba(1, 1, 3, .05), transparent);
  gap: .5em;
  padding: 2.5em .75em;
}
#judulArtikel{
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: 500;
  font-size: calc(1.5em* 1.618);
  line-height: 1.125em;
}
#kategoriArtikel{
  font-size: .95em;
  color: teal;
}
.banner{
  width: 100%;
  height: 55vh;
}
.caption{
  font-size: calc(1.45em/ 1.618);
  color: rgba(1, 1, 3, .65);
}
.isiArtikel{
  font-family: 'Newsreader', serif;
  font-size: 1.15em;
  line-height: 1.25em;
}
.isiArtikel *{margin: .5em 0;}
.button-wrapper{
  display: flex;
  justify-content: center;
  gap: .75em;
}
.button-wrapper *{
  background: teal;
  color: #fff;
  padding: .25em .5em;
  border-radius: 1.5px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
[contenteditable]:empty::before{
  background: rgba(1, 1, 3, .05);
  opacity: .75;
}
[contenteditable]{
  width: fit-content;
  max-width: 100%;
  position: relative;
}
[placeholder]:empty::before{content: attr(placeholder);}
[for=bannerArtikel]{cursor: pointer;}
.banner{
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner span:nth-child(1){font-size: calc(1.618em* 2);}
.banner span{
  color: #fff;
  text-shadow: 0 0 2px #010101;
}
.hidden{display: none;}
#clearBanner{
  position: absolute;
  font-size: calc(1em* 1.618);
  cursor: pointer;
  top: .5em;
  right: .5em;
  color: #fff;
  text-shadow: 0 0 2px #010101;
}
.featured{
  background: rgba(1, 1, 3, .15);
  width: 5.85em;
  height: 1.25em;
  outline: 1px solid rgba(1, 1, 3, .25);
  position: absolute;
  right: .75em;
  top: .75em;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: all .15s;
}
.featured:has(input:checked){
  background: teal;
  outline: 1px solid teal;
  color: #fff;
}
.featured *{
  position: absolute;
  transition: all .15s;
}
.featured span:nth-child(3){left: 1.5em;}
.featured:has(input:checked) span:nth-child(3){left: .25em;}
.featured .slide{
  background: #fff;
  content: '';
  left: 0;
  right: 4.5em;
  height: 100%;
  border-radius: 15px;
}
.featured:has(input:checked) .slide{
  left: 4.5em;
  right: 0;
}
#penulis.required:empty::after,
#isiArtikel.required:empty::after{
  top: -1em;
  left: 0;
  width: 200%;
}
.required:empty::after{
  position: absolute;
  content: '*harap diisi';
  font-size: .75em;
  width: 100%;
  color: #EE2E31;
}
.required:empty::before{text-shadow: 0 0 5px rgba(1, 1, 3, .25);}
