nav *{
  color: rgba(1, 1, 3, .675);
  transition: all .15s;
}

nav *:hover{color: #010101;}
nav .logo{
  color: rgba(1, 1, 3, 1);
  font-size: 1.95em;
  font-weight: 500;
}

nav{
  background: rgba(1, 1, 3, .045);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button{
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

nav > div{
  padding: .25em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1366px;
}

nav section{flex-direction: row;}

.side-bar{
  position: fixed;
  top: 0;
  right: -100em;
  bottom: 0;
  background: rgba(255, 255, 255, .95);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 280px;
  display: flex;
  gap: .75em;
  padding: .95em;
  z-index: 1;
}
.side-bar .title{
  font-size: 1.15em;
  font-weight: 500;
  cursor: default;
}
.side-bar #close-nav{
  position: absolute;
  top: 1.15em;
  right: 1.15em;
}
.side-bar div{
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: .5em;
  padding: 0 .5em;
}
.side-bar div a{
  width: 100%;
  padding: .25em;
  border-radius: 2.5px;
}
.side-bar div a:hover{background: rgba(1, 1, 3, .05);}
.side-bar .nav-menu{display: none;}
.side-bar .profile-menu{display: flex;}
.side-bar hr{
  display: none;
  width: 100%;
}
.side-bar.active{right: 0;}

body.active::after{
  content: '';
  background: rgba(1, 1, 3, .35);
  backdrop-filter: blur(1.5px);
  position: fixed;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .nav-menu{display: none;}

  .side-bar .nav-menu{display: flex;}
  .side-bar hr{display: inline-block;}

}
